@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("./input-range.css");
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dbdcd7), color-stop(24%, #dddcd7), color-stop(30%, #e2c9cc), color-stop(46%, #e7627d), color-stop(59%, #b8235a), color-stop(71%, #801357), color-stop(84%, #3d1635), to(#1c1a27));
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  margin: 0;
}

#title {
  font-weight: normal;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 5vh auto 1vh auto;
  font-family: Pacifico;
  color: #e7e774;
  text-shadow: 0px -1px 3px #aa2, 2px 1px 3px black, 5px 5px 21px #f7777b;
  font-size: 3.4rem;
  text-align: center;
}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#select-color {
  font-size: 1.2rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 5px 8px;
  font-family: "Helvetica Neue", sans-serif;
}

.div {
  width: 100%;
}

#show-mode {
  display: block;
  font-size: 2rem;
  font-family: "Comic Sans", arial;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 5px 8px;
  width: 8rem;
  margin: 0 13px;
}

#show-mode span {
  font-size: 3rem;
}

#input-size {
  max-width: 150px;
  margin: none;
}

#start {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: Pacifico;
  color: #fff;
  font-size: 2.1rem;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  background-color: #f7777b;
  padding: 3px 8px;
  border: 1px solid red;
  margin: 13px 0;
  -webkit-box-shadow: 3px 5px 10px #f7777b;
          box-shadow: 3px 5px 10px #f7777b;
}

#footer {
  position: fixed;
  width: 100%;
  display: block;
  height: 8vh;
  bottom: 0;
  background-color: #dbdcd7;
}

#bye {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

#bye .icon {
  font-size: 2rem;
}

#bye .code.icon {
  color: #fff;
}

#bye span {
  font-family: Pacifico;
  color: #fff;
}

#bye .heart.icon {
  color: #f7777b;
}

* {
  outline: none !important;
}

@media (max-width: 640px) {
  #grid-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 70vw;
    height: 70vw;
    margin: 0 auto 50px auto;
    background-color: transparent;
  }
  #grid-container .grid-item {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    border: 1px solid #aaa;
    cursor: crosshair;
  }
  #form {
    display: block;
    margin: auto;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 90%;
  }
  .container {
    margin: 5vh auto;
  }
  .direction {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #form .direction {
    margin: auto;
  }
}

@media (orientation: portrait) and (min-width: 640px) {
  #form {
    display: block;
    margin: auto;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 90%;
  }
  #grid-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 70vw;
    height: 70vw;
    margin: 0 auto 50px auto;
    background-color: transparent;
  }
  #grid-container .grid-item {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    border: 1px solid #aaa;
    cursor: crosshair;
  }
  .container {
    margin: 5vh auto;
  }
  .direction {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #form .direction {
    margin: auto;
  }
  #title {
    font-size: 5.44rem;
  }
  .container.l {
    width: 80%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  #start {
    margin-top: 21px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  #grid-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 70vw;
    height: 70vw;
    margin: 0 auto 50px auto;
    background-color: transparent;
  }
  #grid-container .grid-item {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    border: 1px solid #aaa;
    cursor: crosshair;
  }
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8vh auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container.l {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .container.r {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #form {
    display: block;
    margin: auto;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 90%;
  }
  #form {
    max-width: 70%;
  }
  #form .direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #grid-container {
    margin-top: 20px;
    width: 40vw;
    height: 40vw;
  }
}
/*# sourceMappingURL=index.css.map */